# Python Data Structures and Boolean
 
 - Boolean
 - Boolean and Logical Operators

In [1]:
bool()  #By default false

False

In [2]:
bool(1)

True

In [3]:
# Inbuilt functions- True, False
True

True

In [4]:
False

False

In [11]:
str='1344454'

#str.Press tab button ---> all inbult functions will be visible.

In [12]:
#Boolean Functions

print(str.isalnum())  #check if all are numbers
print(str.isalpha())  #check if all are alphabetic
print(str.isdigit())  #check if all are numbers

True
False
True

In [13]:
str='Shilpi 12'

print(str.isalnum())  #check if all are numbers
print(str.isalpha())  #check if all are alphabetic
print(str.isdigit())  #check if all are numbers

False
False
False

In [14]:
str='Shilpi 12'

print(str.istitle())  #check if string contains tutle letter(Starts with capital letter)
print(str.isupper())  #check if string is in upper case
print(str.islower())  #check if string is in lower case

True
False
False

In [24]:
str="     "

print(str.isspace())  #check if string is empty string with only spaces.
print(str.endswith('2'))  #check if string endswith '2'
print(str.startswith('S'))  #check if string startswith 'S'

True
False
False

In [25]:
str="Shilpi   12"

print(str.isspace())  #check if string is empty string with only spaces.
print(str.endswith('2'))  #check if string endswith '2'
print(str.startswith('S'))  #check if string startswith 'S'

False
True
True

# Boolean and logical operators

In [26]:
True and False

False

In [27]:
True or False

True

In [28]:
1 and 1

1

In [29]:
1 || 0

SyntaxError: invalid syntax (<ipython-input-29-ec7e41d32133>, line 1)

In [32]:
1 & 0

0

In [31]:
1 | 0

1

In [33]:
str="Shilpi 123"

str.isalpha() | str.istitle()

True

# Lists

- DataStructure in Python that is mutable or changeable, ordered sequence of elements.
- Each element or value that is inside of a list is called an item.
- defined in square brackets [].

In [11]:
type([])

list

In [12]:
list_ex=[]
type(list_ex)

list

In [14]:
li=list

In [15]:
type(li)

list

In [16]:
# list items can be of different datatypes.
li=['Maths','chem',100,200]

In [17]:
type(li)

list

In [18]:
 len(li)

4

## Append

In [19]:
#append at the end of list by default

li.append('physics')

In [28]:
li.append(['OS','DS']) #nested list is created inside main list

In [29]:
li

['Maths', 'chem', 100, 200, 'physics', ['OS', 'DS']]

In [20]:
li

['Maths', 'chem', 100, 200, 'physics']

In [21]:
# Indexing in list(starts from 0)

li[2]

100

In [23]:
li[4]

'physics'

In [24]:
#indexing for a range of values

li[:]

['Maths', 'chem', 100, 200, 'physics']

In [25]:
li[1:]

['chem', 100, 200, 'physics']

In [26]:
li[2:4]  #exclues 4th position

[100, 200]

In [27]:
li[2:5] #excludes 5th position

[100, 200, 'physics']

  ## Insert

In [ ]:
#insert at a specific position

In [30]:
li.insert(3,'Hindi')  #insert at 3rd index
li

['Maths', 'chem', 100, 'Hindi', 200, 'physics', ['OS', 'DS']]

## Extend Method

In [31]:
li1=[1,2,3,4,5,6]

In [33]:
li1.extend([8,9]) #does not create nested list, adds at the back of list.

In [35]:
li1

[1, 2, 3, 4, 5, 6, 8, 9]

## Operations in list

In [36]:
sum(li1)

38

In [58]:
li3=[1,2,3]

In [59]:
li3*2   #whole list is appended at the end and occurs two times.

[1, 2, 3, 1, 2, 3]

## Pop() Method

In [37]:
#by default removes the last element of the list(when no argument is given)

In [38]:
li1=[1,2,3,4,5,6]

li1.pop()

6

In [39]:
li1.pop(2)  #removes element at index 2

3

In [40]:
li1

[1, 2, 4, 5]

## Count() : Returns total occurance of given element in list

In [49]:
li2=[1,2,3,4]

In [50]:
li2.extend([1,2,1,1,3,5])
li2

[1, 2, 3, 4, 1, 2, 1, 1, 3, 5]

In [51]:
li2.count(1)

4

## index()
 - Returns the index of first occurance
 - Parameters : Start and End index. (not necessary parameter)
 - list.index(value,start_index,end_index)

In [53]:
li2.index(4)

3

In [54]:
li2.index(2,0,3) #starts searching for 2 between index 0 and 3.

1

## Min() and Max()

In [55]:
min(li2)

1

In [56]:
max(li2)

5



-