# Sets

- A set is an unordered collection data type that is iterable, mutable.
- Has no duplicate elements.
- based on hash table.
- Set does not support indexing --> set[0]

In [2]:
# defining empty set

set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [3]:
#syntax--->  set_var={'value1','value2'}

In [4]:
s1={1,2,3,4,5,1,3}  #Removes duplicates
s1

{1, 2, 3, 4, 5}

In [5]:
s2={2,1,5,3,6,9,4} #removes duplicates and prints in sorted order.
s2

{1, 2, 3, 4, 5, 6, 9}

In [6]:
s3={'man','woman','child'}
s3

{'child', 'man', 'woman'}

In [7]:
s4={'b','a','c'}

In [8]:
s4

{'a', 'b', 'c'}

In [10]:
s5={'aveng','Iron','hit'}
s5

{'Iron', 'aveng', 'hit'}

In [11]:
#Indexing-- elements can't be retrieved by indexing 

s3[1]

TypeError: 'set' object is not subscriptable

# Add()
 
 - add elements

In [12]:
s5.add("man")
s5

{'Iron', 'aveng', 'hit', 'man'}

In [13]:
set1={'man','women','child','infant'}
set2={'man','women','child'}

In [14]:
#Difference
set2.difference(set1) #means-- (s2-s1)

set()

In [15]:
set1.difference(set2)    #means-- (s1-s2)

{'infant'}

In [16]:
#Difference update (Updates the set according to the difference)


set2.difference_update(set1)

set()

In [19]:
set1.difference_update(set2)

In [20]:
set2

{'child', 'man', 'women'}

In [21]:
set1

{'infant'}

In [22]:
set1.intersection(set2)

set()

In [24]:
s1={'a','b'}
s2={'a'}
s1.intersection(s2)

{'a'}

In [25]:
s1.intersection_update(s2)

In [26]:
s1

{'a'}

In [27]:
s2

{'a'}

# Dictionaries

- A collection which is unordered, changeable and indexed. 
- written in {}.
- have keys and values.

In [28]:
dic={}
type(dic)

dict

In [30]:
 dic={1,2,3}
type(dic)

set

In [31]:
d1={'car1':'Audi','car2':'BMW','car3':'benz'}
d1

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'benz'}

In [46]:
type(d1)

dict

In [32]:
#creating empty dictionary using inbuilt function- dict()
type(dict())

dict

In [33]:
# Accessing item values using key names

d1['car1']

'Audi'

In [34]:
#using loops for values

for x in d1.values():
    print(x)

Audi
BMW
benz

In [35]:
#using loops for keys

for x in d1:
    print(x)

car1
car2
car3

In [36]:
#using loops for both keys and values

for x in d1.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'benz')

In [37]:
# Adding items or want to replace values. 

d1['car4']='maruti'
d1

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'benz', 'car4': 'maruti'}

# Nested Dictionary

In [47]:
car1_mod={'Mercedes':1960}
car2_mod={'Audi':1970}
car3_mod={'Ambassadors':1980}

car_type={'car1':car1_mod,'car2':car2_mod,'car3':car3_mod}
 
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassadors': 1980}}

In [48]:
#Accessing items

print(car_type['car1']['Mercedes'])

1960

# Tuples

- Immutable

In [49]:
#creating empty tuple

tup=tuple()

In [50]:
type(tup)

tuple

In [52]:
tup=('Shilpi','Prachi','Saumya')
tup

('Shilpi', 'Prachi', 'Saumya')

In [53]:
tup[0]

'Shilpi'

In [54]:
#Single item of the tuple can't be repalced, but whole tuple can be replaced.


tup[0]='Shil'

TypeError: 'tuple' object does not support item assignment

In [57]:
tup=('Sim','Reem')
tup

('Sim', 'Reem')

In [58]:
tup.count('sim')

0

In [59]:
tup.index('Reem')

1